# Functions

In [1]:
def calc():  #funtion definition
    print('hello piaic')

In [2]:
calc()          #function calling

hello piaic

In [3]:
def abc():
    print('a')
    print('b')
    print('c')

In [4]:
abc()

a
b
c

In [5]:
def sum():
    x = 2 + 2 
    print(x)

In [6]:
sum()

4

In [7]:
def add(x,y):
    z = x +y 
    print(z)

In [8]:
add(2,4)

6

In [9]:
add(18,39)

57

In [10]:
add(5,4)

9

In [12]:
def calculator(num1, num2, opr):
    if opr== '+':
        (num1 + num2)
    elif opr == '-':
        print(num1 - num2)
    elif opr == '*':
        print(num1 * num2)
    elif opr =='/':
        print(num1 / num2)
    else:
        print('Wrong operator')

In [14]:
calculator(35,5, '-')

30

In [15]:
cities = ['khi','lhr', 'isb', 'psh']

In [16]:
def city(x):
    for i in x :
        print(i)

In [17]:
city(cities)

khi
lhr
isb
psh

In [18]:
city('karachi')

k
a
r
a
c
h
i

In [20]:
def numbers('1','2','3','4'):
    if numbers == ('2,4'):
        print('even')
    else:
        print('odd')

SyntaxError: invalid syntax (<ipython-input-20-dba788f93e09>, line 1)

In [21]:
num = [2, 3, 4, 5, 6, 7, 8, 9, 22, 23, 24]

def even_no(x):
    for i in x:
        if i % 2 == 0:
            print(i)
            
even_no(num)

2
4
6
8
22
24